.buttonWrapper {
  display: inline-block;
}

.button {
  background: transparent;
  font-size: 18px;
  border: 0;
  height: 34px;
  width: 36px;
  border-radius: 5px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button svg {
  fill: white;
}

.button:hover {
  cursor: pointer;
}

.active {
  color: #05f;
}

.active svg {
  fill: #6d9dff;
}
