body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
}

.Content {
  max-width: 600px;
  margin: 30px auto;
}
