body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
}

.public-DraftEditor-content {
  min-height: 100px;
  cursor: text;
  margin-bottom: 40px;
}

.Content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 65px;
}
