.buttons {
  display: flex;
}

.buttons > button,
.buttons > a {
  text-decoration: none;
  cursor: pointer;
  padding: 0 21px;
  height: 34px;
  border: 2px solid #05f;
  font-weight: bold;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons svg {
  height: 12px;
  margin-right: 5px;
}

.copy {
  background: #05f;
  color: white;
  margin-right: 30px;
}

.copy > svg {
  fill: #05f;
}

.tweet {
  color: #05f;
}

.tweet > svg {
  fill: white;
}
