.buttons {
  display: flex;
  align-items: baseline;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

.copy,
.tweet {
  text-decoration: none;
  cursor: pointer;
  padding: 0 21px;
  height: 44px;
  border: 2px solid #05f;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.github {
  margin-left: auto;
  text-decoration: none;
  font-size: 12px;
  color: rgba(0, 85, 255, 0.87);
}

.buttons svg {
  height: 16px;
  margin-right: 8px;
}

.github svg {
  margin-right: 2px;
  height: 12px;
}

.copy {
  background: #05f;
  color: white;
  margin-right: 30px;
}

.copy > svg {
  fill: #05f;
}

.tweet {
  color: #05f;
}

.tweet > svg {
  fill: white;
}

@media (max-width: 400px) {
  .copy,
  .tweet {
    padding: 0 15px;
    font-size: 12px;
  }

  .buttons svg {
    height: 10px;
  }

  .github {
    font-size: 10px;
  }

  .github svg {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
    justify-content: center;
  }

  .github {
    margin: 0;
    margin-top: 20px;
  }
}
